:root {
    // --ti-cursor-color: antiquewhite;
    --Main_Color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f1f1f1;

    container {
        box-sizing: border-box;
        max-width: 1200px;
        margin: auto;
        padding-inline: 20px;
    }

    .loader-container {
        position: sticky !important;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100000000000000;
        transition: 0.5s ease-in-out;
        background-color: var(--Main_Color);

        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                width: 30%;
            }

            h1 {
                font-family: 'Oswald', sans-serif;
                font-family: 'Poor Story', system-ui;
                color: #333;
                font-size: 3rem;
                font-weight: 100;
                line-height: 1.5;
                overflow: hidden;
                --ti-cursor-color: var(--Main_Color);

                span {
                    font-size: 40px;
                    margin-left: 40px;
                }
            }
        }

    }

    nav {
        z-index: 120;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 5px 10%;
        font-family: Comic;

        container {
            display: flex;
            justify-content: space-between;
            height: 100px;
            font-family: 'Oswald', sans-serif;
            color: var(--Main_Color);

            >div {
                display: flex;
                align-items: center;

                p {
                    margin: 5px;
                }
            }

            ul {
                list-style-type: none;
                display: flex;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                a {
                    color: inherit;
                    text-decoration: none;
                }

                width: 60%;
            }

            >* {
                z-index: inherit;
            }
        }
    }
}

.overlayer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}